<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @if( error != undefined)
        {{ error }} 
    @end
    <form action="/nutzer/anzeigen" method="post">
        {{ csrfField()}}
        <input type="text" name="vorname" placeholder="Dein Vorname" >
        <input type="text" name="nachname" placeholder="Dein Nachname" >
        <input type="submit" value="Wechdamit">
    </form>
</body>
</html>