@include('partials/htmlhead')
<body>
  <h1>Mein toller Blog!</h1>
  @if(user)
    Hallo {{ user.firstname }}!!
    <a href="/posts">Neuer Post</a>
    <a href="/logout">Logout</a>
  @else
    <a href="/login">Login</a>
  @end
  @each(post in posts)
    <h2>{{ post.title }}</h2>
    <p><a href="/post/{{ post.id }}">mehr...</a></p>
  @end
  
</body>
</html>
