@include('partials/htmlhead')
<body>
    <h1>Neuer Blog Post</h1>
    <form action="/posts" method="POST">
        {{ csrfField() }}
        <input type="text" name="title"><br>
        <textarea name="text" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Posten">
    </form>
</body>
</html>