@include('partials/htmlhead')
<body>
    @if(post == null)
        Artikel nicht gefunden
    @else
    <h1>{{ post.title }}</h1>
    <p>
            @if(post.image != null)
            <img src="/uploads/{{ post.image }}" alt="{{ post.title }}" height="200">
            @end
    </p>
    <p>
        {{ post.text }}
    </p>  
    <small>{{ firstname }} {{ lastname }}</small><br>
    <a href="/">Zurück zur Übersicht</a>
    @end  
</body>
</html>