@include('partials/htmlhead')
<body>
    @if(post == null)
        Artikel nicht gefunden
    @else
    <h1>{{ post.title }}</h1>
    <p>
        {{ post.text }}
    </p>  
    <small>{{ firstname }} {{ lastname }}</small><br>
    <a href="/">Zurück zur Übersicht</a>
    @end  
</body>
</html>